################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MusicShop/.vs/MusicShop
/MusicShop/MusicShop/bin/Debug/netcoreapp3.1
/MusicShop/MusicShop/obj
/MusicShop/MusicShop/wwwroot/lib
